src/service/CalculatorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://bonnet.criquet.fr" xmlns:ax22="http://io.java/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://rmi.java/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://bonnet.criquet.fr">
    <wsdl:documentation>CalculatorService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax24="http://rmi.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://bonnet.criquet.fr">
            <xs:import namespace="http://rmi.java/xsd"/>
            <xs:element name="getVersion">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CalculatorServiceRemoteException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RemoteException" nillable="true" type="ax21:RemoteException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="calcul">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="args0" type="xs:int"/>
                        <xs:element name="args1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="calculResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax23="http://io.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://rmi.java/xsd">
            <xs:import namespace="http://io.java/xsd"/>
            <xs:import namespace="http://io.java/xsd"/>
            <xs:complexType name="RemoteException">
                <xs:complexContent>
                    <xs:extension base="ax22:IOException">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="cause" nillable="true" type="xs:anyType"/>
                            <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="IOException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getVersionRequest">
        <wsdl:part name="parameters" element="ns:getVersion"/>
    </wsdl:message>
    <wsdl:message name="getVersionResponse">
        <wsdl:part name="parameters" element="ns:getVersionResponse"/>
    </wsdl:message>
    <wsdl:message name="calculRequest">
        <wsdl:part name="parameters" element="ns:calcul"/>
    </wsdl:message>
    <wsdl:message name="calculResponse">
        <wsdl:part name="parameters" element="ns:calculResponse"/>
    </wsdl:message>
    <wsdl:message name="CalculatorServiceRemoteException">
        <wsdl:part name="parameters" element="ns:CalculatorServiceRemoteException"/>
    </wsdl:message>
    <wsdl:portType name="CalculatorServicePortType">
        <wsdl:operation name="getVersion">
            <wsdl:input message="ns:getVersionRequest" wsaw:Action="urn:getVersion"/>
            <wsdl:output message="ns:getVersionResponse" wsaw:Action="urn:getVersionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="calcul">
            <wsdl:input message="ns:calculRequest" wsaw:Action="urn:calcul"/>
            <wsdl:output message="ns:calculResponse" wsaw:Action="urn:calculResponse"/>
            <wsdl:fault message="ns:CalculatorServiceRemoteException" name="CalculatorServiceRemoteException" wsaw:Action="urn:calculCalculatorServiceRemoteException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculatorServiceSoap11Binding" type="ns:CalculatorServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getVersion">
            <soap:operation soapAction="urn:getVersion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calcul">
            <soap:operation soapAction="urn:calcul" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CalculatorServiceRemoteException">
                <soap:fault use="literal" name="CalculatorServiceRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CalculatorServiceSoap12Binding" type="ns:CalculatorServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getVersion">
            <soap12:operation soapAction="urn:getVersion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calcul">
            <soap12:operation soapAction="urn:calcul" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CalculatorServiceRemoteException">
                <soap12:fault use="literal" name="CalculatorServiceRemoteException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CalculatorServiceHttpBinding" type="ns:CalculatorServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getVersion">
            <http:operation location="getVersion"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calcul">
            <http:operation location="calcul"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
            <wsdl:fault name="CalculatorServiceRemoteException"/>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CalculatorService">
        <wsdl:port name="CalculatorServiceHttpSoap11Endpoint" binding="ns:CalculatorServiceSoap11Binding">
            <soap:address location="http://192.168.109.201:8080/axis2/services/CalculatorService.CalculatorServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CalculatorServiceHttpSoap12Endpoint" binding="ns:CalculatorServiceSoap12Binding">
            <soap12:address location="http://192.168.109.201:8080/axis2/services/CalculatorService.CalculatorServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CalculatorServiceHttpEndpoint" binding="ns:CalculatorServiceHttpBinding">
            <http:address location="http://192.168.109.201:8080/axis2/services/CalculatorService.CalculatorServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
